<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creating Real-Time Charts with Flask</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <select id="uuid-selector" onchange="updateRegistrations(this)">
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <select id="reg-selector" onchange="updateChart(this)">
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <select id="IMU-selector" onchange="document.getElementById('reg-selector').dispatchEvent(new Event('change'))">
                <option value="top" selected>Top</option>
                <option value="mid">Mid</option>
                <option value="bot">Bottom</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <select id="sensor-selector" onchange="document.getElementById('reg-selector').dispatchEvent(new Event('change'))">
                <option value="acc" selected>Accelerator</option>
                <option value="mag">Magnetometer</option>
                <option value="gyr">Gyroscope</option>
                <option value="accmag_data">Magnetometer compensated Accelleration</option>
                <option value="compl_angles">Complimentary Filtered Angles</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>

    const config = {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: "X",
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [],
                fill: false,
            }, {
                label: "Y",
                backgroundColor: 'rgb(0, 99, 132)',
                borderColor: 'rgb(0, 99, 132)',
                data: [],
                fill: false,
            }, {
                label: "Z",
                backgroundColor: 'rgb(255, 99, 0)',
                borderColor: 'rgb(255, 99, 0)',
                data: [],
                fill: false,
            }
            ],
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Accelerometer data'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Time'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Value'
                    }
                }]
            }
        }
    };

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    $(document).ready(function () {

        $.get("/api/devices", function (data) {
            let devices = JSON.parse(data);
            let devSelector = document.getElementById("uuid-selector");
            for (let i = 0; i < devices.length; i++) {
                let opt = devices[i];
                let el = document.createElement("option");
                el.textContent = opt;
                el.value = i;
                devSelector.appendChild(el);
            }
            devSelector.options[0].selected = true;

            let fakeChange = new Event('change');
            devSelector.dispatchEvent(fakeChange);
        });

    });


    function updateRegistrations(select) {
        console.log("User clicked uuid " + select.value);

        let devSelector = document.getElementById("uuid-selector");
        let device_uuid = devSelector.options[devSelector.selectedIndex].text;

        for (let i = document.getElementById("reg-selector").options.length; i-- > 0;)
            document.getElementById("reg-selector").options[i] = null;
        $.get("/api/devices/" + device_uuid, function (data) {
            let registrations = JSON.parse(data);
            let regSelector = document.getElementById("reg-selector");
            for (let i = 0; i < registrations.length; i++) {
                let start_time = registrations[i];
                let date = new Date(start_time);
                let opt = date.toLocaleTimeString();
                let el = document.createElement("option");
                el.textContent = opt;
                el.value = i;
                regSelector.appendChild(el);
            }
            regSelector.options[0].selected = true;

            let fakeChange = new Event('change');
            regSelector.dispatchEvent(fakeChange);


        });
    }

     function updateChart(select) {
        console.log("User clicked reg " + select.value);

        let devSelector = document.getElementById("uuid-selector");
        let device_uuid = devSelector.options[devSelector.selectedIndex].text;

        let imuSelector = document.getElementById("IMU-selector");
        let IMU = imuSelector.options[imuSelector.selectedIndex].value;

        let sensorSelector = document.getElementById("sensor-selector");
        let sensor = sensorSelector.options[sensorSelector.selectedIndex].value;

        console.log(IMU, sensor);

        $('#canvas').remove();
        $('.card-body').append('<canvas id="canvas"><canvas>');

        let context = document.getElementById('canvas').getContext('2d');

        let custom_config = config;
        if (sensor.localeCompare("accmag_data")){
            custom_config.data.datasets[0].label = "pitch (acc)";
            custom_config.data.datasets[1].label = "roll (acc)";
            custom_config.data.datasets[2].label = "yaw (mag)";
        }

        let lineChart = new Chart(context, config);
        removeData(lineChart);
        updateConfigByMutating(lineChart, imuSelector.options[imuSelector.selectedIndex].text+" "+sensorSelector.options[sensorSelector.selectedIndex].text);

        $.get("/api/devices/" + device_uuid + "/" + select.value, async function (data) {
            let reg_data = JSON.parse(data)[0].data;
            for (let i = 0; i < reg_data.length; i++) {
                let d = reg_data[i];
                console.log(d);
                time = new Date(d.time)
                config.data.labels.push(time.toLocaleTimeString()+"."+time.getMilliseconds());
                config.data.datasets[0].data.push(d[IMU][sensor].x);
                config.data.datasets[1].data.push(d[IMU][sensor].y);
                config.data.datasets[2].data.push(d[IMU][sensor].z);
                lineChart.update();

                await sleep(100);
            }
        });
    }
    function removeData(chart) {
        chart.data.labels.pop();
        chart.data.datasets.forEach((dataset) => {
            dataset.data = [];
            dataset.data = [];
        });
        chart.data.labels = [];
        chart.update();
    }

    function updateConfigByMutating(chart, title) {
        chart.options.title.text = title;
        chart.update();
    }


</script>
</body>
</html>